<div class="filter-list">
  <div
    [ngClass]="{ active: selectedFilter === filters.LATEST }"
    (click)="selectedFilter = filters.LATEST"
    class="filter-item"
    data-testid="filter-item-latest"
  >
    Latest
  </div>
  <div
    [ngClass]="{ active: selectedFilter === filters.HOT }"
    (click)="selectedFilter = filters.HOT"
    class="filter-item"
    data-testid="filter-item-hot"
  >
    Hot
  </div>
  <div
    [ngClass]="{ active: selectedFilter === filters.HIGHEST_RANK }"
    (click)="selectedFilter = filters.HIGHEST_RANK"
    class="filter-item"
    data-testid="filter-item-highest-rank"
  >
    Highest Rank
  </div>
  <div
    [ngClass]="{ active: selectedFilter === filters.MOST_VISITS }"
    (click)="selectedFilter = filters.MOST_VISITS"
    class="filter-item"
    data-testid="filter-item-most-visits"
  >
    Most visits
  </div>
  <div
    [ngClass]="{ active: selectedFilter === filters.MOST_ANSWERS }"
    (click)="selectedFilter = filters.MOST_ANSWERS"
    class="filter-item"
    data-testid="filter-item-most-answers"
  >
    Most answers
  </div>
  <div
    [ngClass]="{ active: selectedFilter === filters.NO_ANSWER }"
    (click)="selectedFilter = filters.NO_ANSWER"
    class="filter-item"
    data-testid="filter-item-no-answer"
  >
    No answer
  </div>
</div>
