<div *ngIf="user" class="user-info-wrapper">
  <div class="avatar-wrapper">
    <img
      data-testid="avatar"
      class="user-avatar"
      [src]="user.avatar_link"
      alt="user avatar"
    />
  </div>
  <span data-testid="username" class="username mat-small"
    >{{ user.username }}
  </span>
  <span data-testid="reputation" class="user-reputation mat-small"
    >({{ user.reputation }})
  </span>
</div>
<div *ngIf="!user" class="small" data-testid="user-info-no-data">
  Problem with access to the element.
</div>
