<div class="wrapper">
  <p class="post-header mat-h2">Add a new project to review</p>
  <mat-divider></mat-divider>
  <form (ngSubmit)="submit()" [formGroup]="postForm">
    <mat-form-field appearance="standard">
      <mat-label>Title</mat-label>
      <input
        formControlName="title"
        data-testid="post-title"
        matInput
        required
      />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Description</mat-label>
      <textarea
        formControlName="description"
        data-testid="post-description"
        matInput
        required
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Website URL</mat-label>
      <input
        formControlName="page_url"
        data-testid="post-website-url"
        matInput
        required
      />
      <mat-icon matSuffix>web</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Repository URL</mat-label>
      <input
        formControlName="repo_url"
        data-testid="post-repository-url"
        matInput
        required
      />
      <mat-icon svgIcon="git" matSuffix></mat-icon>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Categories to be reviewed</mat-label>
      <mat-select
        formControlName="categories"
        data-testid="post-categories"
        multiple
        required
      >
        <mat-option *ngFor="let category of postCategories$ | async as list">{{
          category.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="actions">
      <button
        data-testid="post-submit-button"
        mat-raised-button
        type="submit"
        color="primary"
        class="submit-btn"
        [disabled]="!postForm.valid"
      >
        Add project
      </button>
    </div>
  </form>
</div>
