.username {
  color: var(--accent);
}
.user-reputation {
  color: var(--primary);
}
.last-user-activity {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 0;
  flex-wrap: wrap;
  margin-left: auto;
  justify-content: flex-end;
}
:host {
  width: 100%;
}
