<div *ngIf="category" class="wrapper">
  <div class="category-header mat-h4">
    <div data-testid="reviewed-category-name" class="category-name">
      {{ category.category.name }}
    </div>
    <div class="category-rank">
      <span data-testid="reviewed-category-rank">{{ category.rank }}</span>
      <span class="material-icons rank-icon"> star </span>
    </div>
  </div>
  <ng-container *ngFor="let node of category.review_nodes">
    <app-answer-reviewed-category-node
      [node]="node"
    ></app-answer-reviewed-category-node>
  </ng-container>
</div>
