<div *ngIf="category" class="wrapper">
  <div class="category-header mat-h4">
    <div class="category-name">
      <span data-testid="reviewed-category-name">{{
        category.category.name
      }}</span
      ><span>:</span>
    </div>
    <app-star-component
      [iconSize]="16"
      [rank]="category.rank"
    ></app-star-component>
  </div>
  <ng-container *ngFor="let node of category.review_nodes">
    <app-answer-reviewed-category-node
      [node]="node"
    ></app-answer-reviewed-category-node>
  </ng-container>
</div>
