<div class="posts-wrapper">
  <mat-divider></mat-divider>
  <app-post-list-item></app-post-list-item>
  <mat-divider></mat-divider>
  <app-post-list-item></app-post-list-item>
  <mat-divider></mat-divider>
  <app-post-list-item></app-post-list-item>
  <mat-divider></mat-divider>
  <app-post-list-item></app-post-list-item>
  <mat-divider></mat-divider>
  <app-post-list-item></app-post-list-item>
  <mat-divider></mat-divider>
  <app-post-list-item></app-post-list-item>
  <mat-divider></mat-divider>
  <app-post-list-item></app-post-list-item>
  <mat-divider></mat-divider>
  <app-post-list-item></app-post-list-item>
  <mat-divider></mat-divider>
  <app-post-list-item></app-post-list-item>
  <mat-divider></mat-divider>
  <app-post-list-item></app-post-list-item>
  <mat-divider></mat-divider>
</div>
