// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$light-primary: (
  50: #e5e9ea,
  100: #bec8cb,
  200: #93a3a9,
  300: #677e87,
  400: #47626d,
  500: #264653,
  600: #223f4c,
  700: #1c3742,
  800: #172f39,
  900: #0d2029,
  A100: #2a9d8f,
  A200: #289487,
  A400: #227c71,
  A700: #007264,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$light-accent: (
  50: #e5f3f2,
  100: #bfe2dd,
  200: #95cec7,
  300: #6abab1,
  400: #4aaca0,
  500: #2a9d8f,
  600: #259587,
  700: #1f8b7c,
  800: #198172,
  900: #0f6f60,
  A100: #a3ffef,
  A200: #70ffe6,
  A400: #3dffdd,
  A700: #24ffd8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$warn: (
  50: #f4e7e7,
  100: #e4c4c4,
  200: #d29d9c,
  300: #c07674,
  400: #b35857,
  500: #a53b39,
  600: #9d3533,
  700: #932d2c,
  800: #8a2624,
  900: #791917,
  A100: #ffb2b1,
  A200: #ff7f7e,
  A400: #ff4d4b,
  A700: #ff3331,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff
  )
);

// light theme
$light-primary: mat.define-palette($light-primary);
$light-accent: mat.define-palette($light-accent);
$light-warn: mat.define-palette($warn);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn
    )
  )
);

// dark theme
$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent
    )
  )
);

.theme-dark {
  @include mat.all-component-themes($dark-theme);
  $primary-color: mat-color($dark-primary);
  $accent-color: mat-color($dark-accent);
  $warn-color: mat-color($warn);
  $fg_palette: map-get($dark-theme, foreground);
  $bg_palette: map-get($dark-theme, background);
  $fg: map-get($fg_palette, text);
  $bg: map-get($bg_palette, background);

  --primary: #{$primary-color};
  --accent: #{$accent-color};
  --warn: #{$warn-color};
  --accent2-bg: #3d4951;
  --accent3: #76c490;
  --accent-green: #48a868;
  --fg: #{$fg};
  --bg: #{$bg};
}
.theme-light {
  @include mat.all-component-themes($light-theme);
  $primary-color: mat-color($light-primary);
  $accent-color: mat-color($light-accent);
  $warn-color: mat-color($warn);
  $fg_palette: map-get($light-theme, foreground);
  $bg_palette: map-get($light-theme, background);
  $fg: map-get($fg_palette, text);
  $bg: map-get($bg_palette, background);

  --primary: #{$primary-color};
  --accent: #{$accent-color};
  --warn: #{$warn-color};
  --accent2-bg: #e1ecf4;
  --accent3: #2a9d8f;
  --accent-green: #4aaca0;
  --fg: #{$fg};
  --bg: #{$bg};
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: var(--fg);
  background-color: var(--bg);
}

* {
  box-sizing: border-box;
}
