// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$light-primary: (
  50: #e5e9ea,
  100: #bec8cb,
  200: #93a3a9,
  300: #677e87,
  400: #47626d,
  500: #264653,
  600: #223f4c,
  700: #1c3742,
  800: #172f39,
  900: #0d2029,
  A100: #2a9d8f,
  A200: #289487,
  A400: #227c71,
  A700: #007264,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$light-accent: (
  50: #fcf8ed,
  100: #f8edd2,
  200: #f4e2b5,
  300: #f0d697,
  400: #eccd80,
  500: #e9c46a,
  600: #e6be62,
  700: #e3b657,
  800: #dfaf4d,
  900: #d9a23c,
  A100: #ffffff,
  A200: #fffbf3,
  A400: #ffe8c0,
  A700: #ffdea7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$warn: (
  50: #f4e7e7,
  100: #e4c4c4,
  200: #d29d9c,
  300: #c07674,
  400: #b35857,
  500: #a53b39,
  600: #9d3533,
  700: #932d2c,
  800: #8a2624,
  900: #791917,
  A100: #ffb2b1,
  A200: #ff7f7e,
  A400: #ff4d4b,
  A700: #ff3331,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff
  )
);

// light theme
$light-light-primary: mat.define-palette($light-primary);
$light-accent: mat.define-palette($light-accent);
$light-warn: mat.define-palette($warn);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $warn
    )
  )
);

// dark theme
$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $warn
    )
  )
);

.theme-dark {
  @include mat.all-component-themes($dark-theme);
}
.theme-light {
  @include mat.all-component-themes($light-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
