<div class="post">
  <div class="post-stats">
    <div class="post-rank mat-small">
      <span class="rank-label"> Project rank: 4.2 </span>
      <span class="material-icons rank-icon"> star </span>
    </div>
    <div class="post-answers mat-small">2 answers</div>
    <div class="post-views mat-small">60 views</div>
  </div>
  <div class="post-details">
    <div class="post-title mat-subheading-1">My new super website</div>
    <div class="page-url mat-caption">Page URL: www.google.pl</div>
    <div class="page-url mat-caption">Repo URL: www.github.com</div>
  </div>
  <div class="post-bottom-row">
    <div class="post-categories">
      <div class="post-category mat-small">Code quality</div>
      <div class="post-category mat-small">Design</div>
      <div class="post-category mat-small">Performance</div>
    </div>
    <div class="last-user-activity">
      <span class="username mat-small">User1234 </span>
      <span class="user-reputation mat-small">(10.5k)</span>
      <span class="activity-type mat-small">answered</span>
      <div class="activity-time mat-small">10 mins ago</div>
    </div>
  </div>
</div>
